// Guideline page
// --------------
// Styles for the guideline page

.guideline-container {
  font-size: $normal-font-size;
  margin-top: 40px;
  color: $grey-6;

  padding-left: $content-padding-left;
  padding-right: $content-padding-right;

  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;

  // Components
  .lozenge {
    display: inline-flex;
    max-width: none;
    margin: 0;
  }

  .search-result-bucket__annotations-count-container {
    float: none;
  }

  .annotation-card {
    width: 500px;
  }
}
