{% extends "h:templates/layouts/base.html.jinja2" %}

{% block header %}
  {% include "h:templates/includes/logo-header.html.jinja2" %}
{% endblock %}

{% block page_title %}
{% trans %} Sign up for Hypothesis {% endtrans %}
{% endblock %}

{% block content %}
<div class="form-container content">
  <h1 class="form-header">{% trans %} Sign up for Hypothesis {% endtrans %}
</h1>
  {{ form }}
  <footer class="form-footer">
    {% trans %} Already have an account? {% endtrans %}
    <a class="link--footer" href="{{ request.route_path('login') }}">{% trans %} Log in {% endtrans %}</a>
  </footer>
</div>
{% endblock content %}
