<p class="group-form-footer__heading">About Groups</p>
<p>
  {% trans %} Groups let you annotate and discuss content on the web privately. {% endtrans %}
  <!-- <a href="//hypothes.is/annotating-with-groups/" target="_blank">More</a> -->
</p>
